<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>helloworld</title>
  <style type="text/css" src="/dist/static/css/vendor.css.gz?${webpack.hash}"></style>
  <style type="text/css" src="/dist/static/css/helloworld.css.gz?${webpack.hash}"></style>
</head>
<body class="g-doc">
	<div id="app"></div>
  <script type="text/javascript" src="/dist/static/js/core.js?${webpack.hash}"></script>
  <script type="text/javascript" src="/dist/static/js/vendor.js?${webpack.hash}"></script>
  <script type="text/javascript" src="/dist/static/js/helloworld.js?${webpack.hash}"></script>
</body>
</html>