<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>soul—test—website</title>
</head>
<body class="g-doc">
	<div id="app"></div>

  <h1>help？SOS？</h1>
  <h2>1234567890 ${webpack.chuck}</h2>
  <span>注入数据：{{msg}}</span>

    <script type="text/javascript" src="/static/dist/js/vendor.js?${webpack.hash}"></script>
</body>
</html>