<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>soul—test—website</title>
</head>
<body class="g-doc">
	<div id="app"></div>

  <h1>要登陆？<h1>

  <span>注入数据：{{msg}}</span>

    <script>
    
    </script>
 
</body>
</html>